<%;- include('./partials/header'); %>
    <div class="wrapper">
        <div class="title-text">
            <h1>UMOX</h1>
            <h2>Dashboard</h2>
            <h2>Seja bem-vindo {{ nome_usuario }}</h2>
        </div>
    </div>
<%- include('./partials/footer'); %>
