<%- include('./partials/header'); %>

    <div class="wrapper">
        <div class="title-text">
            <div class="title login">Umox Login</div>
            <div class="title signup">Cadastro</div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Cadastro</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form action="/auth/login" method="post" class="login">
                    <div class="field">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="field">
                        <input type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <div class="pass-link"><a href="#">Esqueceu sua senha?</a></div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Login">
                    </div>
                    <div class="signup-link">Não é cadastrado? <a href="">Cadastre-se</a></div>
                </form>
                <form action="/auth/register" method="post" class="signup">
                    <div class="field">
                        <input type="text" name="nome" placeholder="Nome" required>
                    </div>
                    <div class="field">
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="field">
                        <input type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Solicitar Cadastro">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/login.js"></script>

    <%- include('./partials/footer'); %>